.Weather {
  color: #fff;
  background-color: #494949;
  padding: 50px;
  line-height: 30px;
  margin-top: 40px;
}

ul,
li {
  list-style-type: none;
  padding-left: 30px;
}
h1 {
  padding-left: 30px;
}
.Weather h2 {
  font-size: 50px;
}
form {
  padding-left: 30px;
}
.WeatherTemperature .Temperature {
  font-size: 50px;
}
.WeatherTemperature .Metric {
  font-size: 30px;
}
